# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

#get shape of dataframe
print(df.shape) 
print(df.columns)

df.rename(columns = {'ST':'State', 'GENDER':'Gender', 'Customer Lifetime Value':'CLV', 'Monthly Premium Auto':'MPA', 'Number of Open Complaints':'NOC','Policy Type':'PolicyType', 'Vehicle Class':'VehicleClass', 'Total Claim Amount':'TCA'}, inplace = True)

print(df.shape) 
print(df.columns)

(4008, 11)
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
(4008, 11)
Index(['Customer', 'State', 'Gender', 'Education', 'CLV', 'Income', 'MPA',
       'NOC', 'PolicyType', 'VehicleClass', 'TCA'],
      dtype='object')

In [2]:
cust_series = df["Customer"].value_counts(dropna=False)
print(cust_series)
#2937 lines with no Customers

df_clean = df.copy()
#lets create a new dataframe with no NaN Customers, as the rest of the information is dependent on knowing the customer ID
df_clean.dropna(subset=["Customer"],inplace=True)
cust_series = df_clean["Customer"].value_counts()
print(df_clean)

#The rest of the data seems ok, as the costumer ID's seem to represent unique ID's with no repeats

Customer
NaN        2937
KH59823       1
HQ82233       1
OL72737       1
ZQ59828       1
           ...
RO26085       1
ES57969       1
JK55587       1
RN97635       1
TA82973       1
Name: count, Length: 1072, dtype: int64
     Customer       State Gender             Education          CLV   Income  \
0     RB50392  Washington    NaN                Master          NaN      0.0
1     QZ44356     Arizona      F              Bachelor   697953.59%      0.0
2     AI49188      Nevada      F              Bachelor  1288743.17%  48767.0
3     WW63253  California      M              Bachelor   764586.18%      0.0
4     GA49547  Washington      M  High School or Below   536307.65%  36357.0
...       ...         ...    ...                   ...          ...      ...
1066  TM65736      Oregon      M                Master   305955.03%  38644.0
1067  VJ51327        Cali      F  High School or Below  2031499.76%  63209.0
1068  GS98873     Arizona      F              Bachelor   323912.47%  16061.0
1069  CW49887  California      F                Master   462680.11%  79487.0
1070  MY31220  California      F               College   899704.02%  54230.0

         MPA     NOC      PolicyType   VehicleClass          TCA
0     1000.0  1/0/00   Personal Auto  Four-Door Car     2.704934
1       94.0  1/0/00   Personal Auto  Four-Door Car  1131.464935
2      108.0  1/0/00   Personal Auto   Two-Door Car   566.472247
3      106.0  1/0/00  Corporate Auto            SUV   529.881344
4       68.0  1/0/00   Personal Auto  Four-Door Car    17.269323
...      ...     ...             ...            ...          ...
1066    78.0  1/1/00   Personal Auto  Four-Door Car   361.455219
1067   102.0  1/2/00   Personal Auto            SUV   207.320041
1068    88.0  1/0/00   Personal Auto  Four-Door Car   633.600000
1069   114.0  1/0/00    Special Auto            SUV   547.200000
1070   112.0  1/0/00   Personal Auto   Two-Door Car   537.600000

[1071 rows x 11 columns]

In [3]:
gender_series = df_clean["Gender"].value_counts(dropna=False)
print(gender_series)

#some Nan, but it can be ignored for now. A lot of spelling mistakes / inconsistencies.
#Lets settle on F and M to identify the gender

df_clean["Gender"].replace(to_replace=["Female", "Femal", "female"], value="F", inplace=True)
df_clean["Gender"].replace(to_replace=["Male"], value="M", inplace=True)

gender_series = df_clean["Gender"].value_counts(dropna=False)
print(gender_series)

Gender
F         457
M         413
NaN       117
Male       39
female     28
Femal      17
Name: count, dtype: int64
Gender
F      502
M      452
NaN    117
Name: count, dtype: int64

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_41808\2674062076.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean["Gender"].replace(to_replace=["Female", "Femal", "female"], value="F", inplace=True)

In [4]:
us_states_codes = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"
}

state_series = df_clean["State"].value_counts(dropna=False)
print(state_series)

df_clean["State"].replace(us_states_codes, inplace=True)
print(df_clean["State"].value_counts(dropna=False))

df_clean["State"].replace({"Cali":"CA"}, inplace=True)
print(df_clean["State"].value_counts(dropna=False))

State
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
State
OR      320
AZ      211
CA      211
Cali    120
WA      111
NV       98
Name: count, dtype: int64
State
CA    331
OR    320
AZ    211
WA    111
NV     98
Name: count, dtype: int64

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_41808\2418104349.py:57: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean["State"].replace(us_states_codes, inplace=True)

In [5]:
series = df_clean["Education"].value_counts(dropna=False)
print(series)

df_clean["Education"].replace({"Bachelors":"Bachelor"}, inplace=True)
print(df_clean["Education"].value_counts(dropna=False))

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Education
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_41808\3557487289.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean["Education"].replace({"Bachelors":"Bachelor"}, inplace=True)

In [6]:
series = df_clean["CLV"].value_counts(dropna=False)
print(series)

CLV
445811.34%     4
251459.20%     4
NaN            3
2412750.40%    3
684615.03%     3
              ..
1210120.88%    1
245357.08%     1
507566.27%     1
321497.94%     1
899704.02%     1
Name: count, Length: 1028, dtype: int64

In [7]:
series = df_clean["Income"].value_counts(dropna=False)
print(series)

Income
0.0        252
43860.0      4
17622.0      4
36650.0      3
14072.0      3
          ...
29486.0      1
58557.0      1
25632.0      1
18768.0      1
54230.0      1
Name: count, Length: 774, dtype: int64

In [8]:
series = df_clean["MPA"].value_counts(dropna=False)
print(series)

MPA
65.0     47
63.0     39
71.0     37
67.0     37
73.0     37
         ..
177.0     1
181.0     1
276.0     1
253.0     1
199.0     1
Name: count, Length: 132, dtype: int64

In [9]:
series = df_clean["PolicyType"].value_counts(dropna=False)
print(series)

PolicyType
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [10]:
series = df_clean["VehicleClass"].value_counts(dropna=False)
print(series)

VehicleClass
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [11]:
series = df_clean["TCA"].value_counts(dropna=False)
print(series)

TCA
321.600000    19
331.200000    15
312.000000    14
350.400000    14
316.800000    12
              ..
421.484456     1
430.505942     1
7.646763       1
55.510526      1
207.320041     1
Name: count, Length: 761, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [12]:
# There are only 5 locations
five_worst = df_clean["State"].value_counts(ascending=True)
print(five_worst.head(5))

State
NV     98
WA    111
AZ    211
OR    320
CA    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [13]:
# Your code here
policy_series = df_clean["PolicyType"].value_counts()
print(policy_series)

best_policy = policy_series.idxmax()
print("Best Policy:", best_policy)

PolicyType
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Best Policy: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [14]:
# Your code here
PA_series = df_clean.loc[df_clean["PolicyType"] == "Personal Auto"]

CA_series = df_clean.loc[df_clean["PolicyType"] == "Corporate Auto"]

PA_avg = PA_series["Income"].mean()
CA_avg = CA_series["Income"].mean()

print("Personal Auto Average Income:", PA_avg)
print("Corporate Auto Average Income:", CA_avg)

#if we remove 0.0 values:

PA_series = df_clean.loc[(df_clean["PolicyType"] == "Personal Auto") & (df_clean["Income"] != 0.0)]

CA_series = df_clean.loc[(df_clean["PolicyType"] == "Corporate Auto") & (df_clean["Income"] != 0.0)]

PA_avg = PA_series["Income"].mean()
CA_avg = CA_series["Income"].mean()

print("Corrected Personal Auto Average Income:", PA_avg)
print("Corrected Corporate Auto Average Income:", CA_avg)

Personal Auto Average Income: 38180.69871794872
Corporate Auto Average Income: 41390.31196581197
Corrected Personal Auto Average Income: 50390.769881556684
Corrected Corporate Auto Average Income: 54108.00558659218

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [15]:
# Your code here

top = df_clean["TCA"].quantile(0.75)
bottom = df_clean["TCA"].quantile(0.25)

top_df = df_clean.loc[(df_clean["TCA"] > top)]
rest_df = df_clean.loc[(df_clean["TCA"] <= top)]

print("Info on the top 25%:")
print("Average Income:", top_df["Income"].mean())
print("Location:", top_df["State"].value_counts())
print("Gender:", top_df["Gender"].value_counts())

print("Info on the bottom 75%:")
print("Average Income:", rest_df["Income"].mean())
print("Location:", rest_df["State"].value_counts())
print("Gender:", rest_df["Gender"].value_counts())

Info on the top 25%:
Average Income: 23677.344696969696
Location: State
OR    90
CA    86
AZ    49
NV    29
WA    10
Name: count, dtype: int64
Gender: Gender
F    122
M    116
Name: count, dtype: int64
Info on the bottom 75%:
Average Income: 44405.05204460966
Location: State
CA    245
OR    230
AZ    162
WA    101
NV     69
Name: count, dtype: int64
Gender: Gender
F    380
M    336
Name: count, dtype: int64